/* Style Recipe page */

*{
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
        list-style-type: none;
}
 
      
li{
    
    padding: 2px;
    margin: 2px 20px 40px 50px;
    text-align: center;
    cursor: pointer;
    color: black;
}

li:hover{
    background-color: green;
    color: black;

}