*{
    margin: 10px 10px 10px 10px;
}
.container{
    padding: 10px;
    background-color: black;
    
}

.row{
    
   display: flex;
}

.column {
    background-color: rgb(22, 53, 53);
    border-radius: 70%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    flex: 1;
    
}
.column1{
   
    background-color: rgb(114, 114, 9);
    border-radius: 70%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    flex: 1;
    
}
.column2{
    background-color: rgb(22, 53, 53);
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    flex: 1;
    
}
.display{
    background-color: rgb(134, 134, 114);
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: end;
}
.column2:hover {
    
    opacity: 0.3;
   
}
.column1:hover{
    
    opacity: 0.3;
    
}
.column:hover{
  
   opacity: 0.3;
   
}


