body {
  font: 1.2em / 1.5 sans-serif;
}

/* Task 1
To complete the task:

Make the <h1> headings blue.
Give <h2> headings a blue background and white text.
Cause text wrapped in a <span> to have a font-size of 200%. */
/* h1 {
    color: blue;
}

h2 {
    background-color: blue;
    color: white;
}

.size-span{
    font-size: 200%;
} */


/* Task 2
Task 2
To complete the task:

Give the element with an id of special a yellow background.
Give the element with a class of alert a 2px solid grey border.
If the element with a class of alert also has a class of stop, make the background red.
If the element with a class of alert also has a class of go, make the background green. */


/* #special{
    background-color: yellow;
}

.alert{
    border: 2px solid grey; 
}

.alert.stop{
    background-color: red;
}
.alert.go{
    background-color: green;
} */


/* Task 3
To complete the task:

Style links, making the link-state orange, visited links green, and remove the underline on hover.
Make the first element inside the container font-size: 150% and the first line of that element red.
Stripe every other row in the table by selecting these rows and giving them a background color of #333 and foreground white. */

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}


a:link {
    color:  orange;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none;
}

p::before{
    
    font-size: 150%;

}

.container p:first-child{
  font-size: 120%;
}
.container p:first-child::first-line {
  color: red;
}

tr:nth-child(even) {
  background-color: #333;
  color: #fff;
}