

.side-bar{
    background-color: rgb(45, 155, 192);
    width: 35%;
}

a{
    text-decoration: none;
}

.side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fcf9f9;
  display: block;
}

.side-bar h3{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #fcf9f9;
}
